.sapUiUfdShell .sapUiUfdShellHead>div {
    background-color: #2e5da3 !important;
}

.sapUiUfdShell .sapUiUfdShellBrand {
    background-color: #2e5da3 !important;
}

.sapUiUfdShellHeadUsrItm {
    color: #fff !important;
}

.sapUiUfdShellHeadUsrItm:hover,
.sapUiUfdShellHeadItm>span:hover {
    color: #23467b !important;
}

.sapUiUfdShellHeadItm>span,
.sapUiUfdShellHeadUsrItm {
    text-shadow: none !important;
    color: #fff !important;
}